<div class="col-12 col-md">
    <h2>{{ 'bitexpert_sylius_twofactor.shop.form.2fa_headline'|trans }}</h2>
    <p class="text-gray-600 mb-4">
        {{ 'bitexpert_sylius_twofactor.shop.form.2fa_subtitle'|trans }}
    </p>
</div>
